
@keyframes burger_size{
    0%{
        transform: translate(0px);
    }
    25%{
        
        width: 100px;
    }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translate(0px);
    }


}


.top_bar{
    display: grid;
    grid-auto-flow: column;
    margin: 0px;
    padding: 0px;

}
#logo1{
    height: 75px;
    
}
#title{
    margin: 0px;
    padding: 0px;
    
}
.topbar>a{
    margin: 0px;
    padding:0px;
    color: blueviolet;
}
.information{
    display: grid;
    grid-auto-flow: column;
    margin: 10px;
}
#art_1{
    height: 600px;
    width: 200px;
}
#burger{
    height: 175px;

}
#burger:active{
    transform: scale(6.0);
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);

}

#art_2{
    height: 600px;
    width:200px
}
#fries{
    height:175px;
}#fries:hover{
    transform:scale(2.0) ;
}
#art_3{
    height: 600px;
    width: 200px;

}
#onion{
    height: 175px;
}
#onion:hover{
    transform: translateX(30px);
}


